@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.layout-cabeçalho {
    display: flex;
    background-color: black;
    /* border-bottom: 2px solid black; */
    /* border-image: linear-gradient(to right, rgb(59, 3, 110), rgb(135, 50, 204)) 1; */
    /* height: 80px; */
    padding: 10px 20px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

.navTop {
    text-align: right;
}

.navHome,
.navSobre,
.navContatos {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    padding-top: 25px;

}

.navHome:hover,
.navSobre:hover,
.navContatos:hover{

    color: rgb(211, 95, 18);
    

}



#planos {
    padding: 150px 0;


}








.layout-principal {

    padding: 80px;
    background-color: rgb(24, 23, 23);
}

.layout-depoimento {
    padding: 80px 0;
    /* background-color: rgb(46, 45, 45); */
}

.rodape {
    padding: 25px 0;
    background-color: black;
    color: white;
    text-align: center;
    font-family: Montserrat;


}

.layout-assinatura{
    padding: 160px;
    font-family: Montserrat;
    /* background-color: rgb(255, 255, 255); */
}


label{
    color: azure;
}




/* SOBRE */

.Missao{
    margin-left: 30%;
    text-align: center;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    margin-bottom: 50px;
    margin-top: 20px;
    font-size: 1.5em;



}

.Visao{
    margin-left: 30%;
    text-align: center;
    color: #fff;
    font-family: Montserrat;
    margin-bottom: 110px;
    margin-top: 20px;
    font-size: 1.5em;
    

}

.Missao-top{

    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    text-align: center;
    font-family: Montserrat;
    margin-left: 30%;
    font-size: 2em;

}

.Visao-top{

    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    text-align: center;
    font-family: Montserrat;
    margin-left: 30%;
    font-size: 2em;
  

}

.Valores{
    margin-left: 30%;
    text-align: center;
    color: #fff;
    font-family: Montserrat;
    margin-bottom: 110px;
    margin-top: 20px;
    font-size: 1.5em;
    

}

.Valores-top{

    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    text-align: center;
    font-family: Montserrat;
    margin-left: 30%;
    font-size: 2em;

}

.Valores,.Valores-top,.Missao,.Missao-top,.Visao,.Visao-top{

    margin-left: 33%;
}

.carousel-indicators .active {
    background-color: rgb(0, 0, 0);
}

.carousel-indicators li {
    background-color: rgb(15, 15, 15);
}


/* CONTATO */

.redes{
    font-family: Montserrat;
    color: #fff;
    margin-top: 50px;
}

.redes>div>a>img{
    display: inline-block;
    width: 80px;
    height: 80px;
}




